canvas {
    border: 1px solid black;
    max-width: 100%;
    max-height: 80vh;
}
html {
    font-family: "Courier New", monospace;
    background-color: tan;
    color: black;
    text-align: center;
}